.button {
	font-family: "Roboto";
	width: 100px;
	padding: 10px 20px;
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.4s ease;
	border: none;
	white-space: nowrap;
	&:hover {
		scale: 1.05;
	}
}

.primary {
	background-color: #fece51;
}
